documentation/api/*
documentation/log/*.log
logs/*.log
tests/.DS_Store
tests/phpunit-local.xml
tests/logs/*.log
tests/dummy/db/schema.txt
.DS_Store
library/.DS_Store
cache.properties
config/application.ini
config/database.ini
.ant-targets-build.xml
*.swp
nbproject

build/api
build/code-browser
build/coverage
build/logs
build/pdepend
tests/logs
library/Phigrate/.tags
.rucku
.tags
Phigrate-*.tgz
